<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iNotes</title>
</head>
<body>
<h1>iNote Application</h1>
<p></p>
<a th:href="@{/create-note}">Create new note</a>
<br/>
<form>
    <table border="1">
        <tr>
            <th>STT</th>
            <th>Title</th>
            <th>Content</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="n,i: ${notes}">
            <tr>
                <td th:text="${i.count}"></td>
                <td>
                        <span th:text="${n.getTitle()}"></span>
                </td>
                <td th:text="*{n.content}"></td>
                <td th:text="${n.category.name}"></td>
                <td><a th:href="@{/edit-note/__${n.id}__}">Edit</a></td>
                <td><a th:href="@{/delete-note/__${n.id}__}">Delete</a></td>

            </tr>
        </th:block>
    </table>

</form>

</body>
</html>